<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial Extended</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 15px;
            line-height: 1.6;
        }
        h1, h2, h3 {
            font-family: Georgia, serif;
            font-size: 30px;
            font-weight: bold;
        }
        p {
            margin-top: 36px;
            color: #333;
        }
    </style>
</head>

<body style="font-family: Arial, sans-serif;">
    <h2 style="color: #333;">We're thrilled to welcome you to Tutorial Extended ! &#127881;</h2>

    <p>
        Hello, <br/>
        Thank you for registering with us. Your account has been successfully created. and you're now a member of our community. We're excited to have you on board !
    </p>

    <p>
        Feel free to explore our website and discover all the amazing features and services we offer. If you have any questions or need assistance, our support team is here to help.<br/>
        We look forward to providing you with a fantastic experience !
    </p>

    <p>
        If you did not register for an account on our website, please ignore this email.
    </p>

    <p>
        <b><i>Best regards,</i></b> <br>
        <b>Tutorial Extended</b>
    </p>
</body>
</html>